.home {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: 'Frank Ruhl Libre', serif;
}

.cont-selected {
  width: 26%;
  display: flex;
  justify-content: center;
}
