.cont {
  width: 35%;
  height: 40vh;
  margin-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  border: 1px solid #000;
  .info {
    margin-right: 20px;
  }
}
