@import '@/styles/variables.scss';

.weatherDayInfo-cont {
  @include containerForWeather;
  margin-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../../assets/img/weather.jpg') no-repeat;
  background-size: cover;
  font-size: 1.9rem;
  font-weight: bolder;
  color: white;
  .weatherDayInfo-info {
    margin-right: 20px;
  }
}

.cont-info {
  height: 65px;
  display: flex;
  align-items: center;
}
