.currentDay-cont {
  width: 35%;
  height: 40vh;
  border: 1px solid #000;
  border-radius: 20px;
  .currentDay-temp__cont {
    height: 25vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid purple;
    .currentDay-temp__font {
      border: 1px solid #000;
      display: flex;
      justify-content: center;
      font-size: 4rem;
    }
    .currentDay-date {
      // refactor name
      font-size: 2.3rem;
    }
  }
  .currentDay-time__cont {
    font-size: 1.5rem;
  }
}
