.header-cont {
  width: 80%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-cont__title-img {
  width: 26%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.font-title {
  font-size: 2.8rem;
  color: #74cccf;
  text-shadow: 3px 2px 2px black;
}

.contInput {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.theme-select {
  height: 45px;
  border: 2px solid gray;
  border-radius: 20px;
  outline: none;
}

.cont-selected {
  width: 26%;
  display: flex;
  justify-content: center;
}

.cont-theme{
  width: 26%;
  display: flex;
  justify-content: center;
}
